In [11]:
# import
import pandas as pd
import numpy as np

# Zvýšení maximální šířky sloupce
pd.set_option('display.max_colwidth', None)  # None znamená žádné omezení šířky sloupce

# load books
books = pd.read_csv('Original_Books.csv', encoding='CP1251', sep=',', low_memory=False)
books.dtypes

# Zobrazí řádky od 1695 do 1705
books.head()

# Zjistí, které řádky obsahují danou hodnotu kdekoliv
# result = books[(books == '19841984198419841984198419841984198419841984').any(axis=1)]
# result

# books.info()


books.loc[~books['Year-Of-Publication'].isin(['DK Publishing Inc', 'Gallimard'])].head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0195153448.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0195153448.01.LZZZZZZZ.jpg
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0002005018.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0002005018.01.LZZZZZZZ.jpg

In [12]:
pip install colorama

Requirement already satisfied: colorama in c:\users\stepankovi\anaconda3\lib\site-packages (0.4.6)
Note: you may need to restart the kernel to use updated packages.