
### Tolkien řešení

In [11]:
import pandas as pd
import numpy as np

dataset_lowercase = pd.read_csv('Cleaned_Book_ETL.csv')

In [12]:
# zůžení výběru na TOLKIEN readery a knihu
tolkien_readers = dataset_lowercase.loc[((dataset_lowercase['Book-Title']=='the fellowship of the ring (the lord of the rings, part 1)') & dataset_lowercase['Book-Author'].str.contains("tolkien")), 'User-ID']
tolkien_readers = tolkien_readers.tolist()
tolkien_readers = np.unique(tolkien_readers)
tolkien_readers

array([   254,   1674,  11676,  11944,  13191,  16601,  16777,  16795,
        17725,  22818,  23188,  23571,  23699,  23872,  25123,  25981,
        26057,  30711,  33816,  35108,  36562,  36907,  39467,  43642,
        44755,  44924,  45340,  46690,  48355,  49225,  50615,  51373,
        52350,  54898,  56623,  57398,  60244,  63360,  67198,  67995,
        74411,  74792,  74844,  79310,  79475,  80071,  81492,  81560,
        81848,  81982,  82899,  83496,  86423,  86451,  87555,  87938,
        88320,  88733,  88937,  92693,  92951,  96744,  98783, 100004,
       102702, 104880, 105221, 105476, 109135, 110265, 110962, 111847,
       113380, 114355, 115536, 115572, 116123, 116904, 119858, 124060,
       124876, 125774, 126388, 128946, 131154, 133957, 135458, 136354,
       136382, 136491, 137118, 137742, 138543, 138995, 141693, 142149,
       142623, 142672, 143856, 144114, 148028, 149198, 149398, 149483,
       150894, 150896, 151847, 153662, 154811, 155495, 159506, 160434,
       161755, 161872, 162738, 163059, 163605, 165319, 165654, 165697,
       166828, 167144, 167614, 167736, 170513, 171118, 171295, 173343,
       174179, 175254, 176701, 177432, 179358, 179734, 181452, 182969,
       183061, 183725, 184279, 184299, 184684, 185176, 186842, 187761,
       189835, 193469, 194803, 196052, 196886, 205980, 206202, 207246,
       208406, 209202, 209486, 212310, 213817, 214786, 215607, 215986,
       218552, 219065, 220464, 222488, 223501, 224146, 224997, 225041,
       225379, 226965, 227327, 228579, 231081, 232106, 232131, 233082,
       233526, 234828, 237451, 240107, 242083, 243294, 247429, 250609,
       251394, 254201, 254206, 254955, 258614, 259057, 259901, 260419,
       265313, 265498, 266914, 267568, 271176, 274393, 275218, 276050,
       276313, 278246, 278550])

In [13]:
# final dataset
books_of_tolkien_readers = dataset_lowercase[(dataset_lowercase['User-ID'].isin(tolkien_readers))]
books_of_tolkien_readers

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
1533,278246,0618129030,8,the fellowship of the ring (the lord of the ri...,j. r. r. tolkien,2001,houghton mifflin company,http://images.amazon.com/images/p/0618129030.0...,http://images.amazon.com/images/p/0618129030.0...,http://images.amazon.com/images/p/0618129030.0...
1843,278550,0028630343,7,"frommer's 2000 bahamas (frommer's bahamas, 2000)",arthur frommer,1999,"hungry minds, inc",http://images.amazon.com/images/p/0028630343.0...,http://images.amazon.com/images/p/0028630343.0...,http://images.amazon.com/images/p/0028630343.0...
1844,278550,0345339703,10,the fellowship of the ring (the lord of the ri...,j.r.r. tolkien,1986,del rey,http://images.amazon.com/images/p/0345339703.0...,http://images.amazon.com/images/p/0345339703.0...,http://images.amazon.com/images/p/0345339703.0...
1845,278550,0673397394,8,study and thinking skills in college,kathleen t mcwhorter,1988,"scott, foresman",http://images.amazon.com/images/p/0673397394.0...,http://images.amazon.com/images/p/0673397394.0...,http://images.amazon.com/images/p/0673397394.0...
2252,254,0060502320,7,"i've got you, babe",karen kendall,2002,avon,http://images.amazon.com/images/p/0060502320.0...,http://images.amazon.com/images/p/0060502320.0...,http://images.amazon.com/images/p/0060502320.0...
...,...,...,...,...,...,...,...,...,...,...
383310,276313,0449906736,5,flashpoints: promise and peril in a new world,robin wright,1993,ballantine books,http://images.amazon.com/images/p/0449906736.0...,http://images.amazon.com/images/p/0449906736.0...,http://images.amazon.com/images/p/0449906736.0...
383311,276313,0671027360,9,angels &amp; demons,dan brown,2001,pocket star,http://images.amazon.com/images/p/0671027360.0...,http://images.amazon.com/images/p/0671027360.0...,http://images.amazon.com/images/p/0671027360.0...
383312,276313,0688156568,5,culture jam: the uncooling of america,kalle lasn,1999,william morrow &amp; company,http://images.amazon.com/images/p/0688156568.0...,http://images.amazon.com/images/p/0688156568.0...,http://images.amazon.com/images/p/0688156568.0...
383313,276313,0812511816,9,"the eye of the world (the wheel of time, book 1)",robert jordan,1990,tor fantasy,http://images.amazon.com/images/p/0812511816.0...,http://images.amazon.com/images/p/0812511816.0...,http://images.amazon.com/images/p/0812511816.0...
383314,276313,0812517725,9,"the great hunt (the wheel of time, book 2)",robert jordan,1991,tor fantasy,http://images.amazon.com/images/p/0812517725.0...,http://images.amazon.com/images/p/0812517725.0...,http://images.amazon.com/images/p/0812517725.0...

In [14]:
#users_ratigs = pd.merge(ratings, users, on=['User-ID'])
dataset = pd.merge(ratings, books, on=['ISBN'])
dataset_lowercase=dataset.apply(lambda x: x.str.lower() if(x.dtype == 'object') else x)

tolkien_readers = dataset_lowercase['User-ID'][(dataset_lowercase['Book-Title']=='the fellowship of the ring (the lord of the rings, part 1)') & (dataset_lowercase['Book-Author'].str.contains("tolkien"))]
tolkien_readers = tolkien_readers.tolist()
tolkien_readers = np.unique(tolkien_readers)

NameError: name 'ratings' is not defined

In [78]:
# final dataset
books_of_tolkien_readers = dataset_lowercase[(dataset_lowercase['User-ID'].isin(tolkien_readers))]

In [79]:
# Number of ratings per other books in dataset
number_of_rating_per_book = books_of_tolkien_readers.groupby('Book-Title').agg('count').reset_index()
number_of_rating_per_book
number_of_rating_per_book.sort_values(by='Book-Rating', ascending=False) # the most rated (count) book is the fellowship of the ring
number_of_rating_per_book[number_of_rating_per_book['User-ID'] >= 8]

,Book-Title,User-ID,ISBN,Book-Rating,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
41,1984,11,11,11,11,0,11,11,11,11
44,1st to die: a novel,9,9,9,9,0,9,9,9,9
454,a painted house,9,9,9,9,0,9,9,9,9
592,a time to kill,9,9,9,9,1,9,9,9,9
657,a wrinkle in time,14,14,14,14,0,14,14,14,14
...,...,...,...,...,...,...,...,...,...,...
16255,to kill a mockingbird,14,14,14,14,1,14,14,14,14
16486,"tuesdays with morrie: an old man, a young man,...",9,9,9,9,0,9,9,9,9
16781,violets are blue,8,8,8,8,0,8,8,8,8
16925,watership down,10,10,10,10,0,10,10,10,10
17137,where the heart is (oprah's book club (paperba...,9,9,9,9,0,9,9,9,9

In [80]:
# #select only books which have actually higher number of ratings than threshold
# books_to_compare = number_of_rating_per_book[['Book-Title', 'Book-Rating']][number_of_rating_per_book['User-ID'] >= 8] agregováno pomocí count, může filtrovat i podle User-ID

# books_to_compare # series of the higher rated books

# CHECK: books_to_compare.loc[books_to_compare['Book-Rating'] < 8, 'Book-Title'].count()
books_to_compare = number_of_rating_per_book.loc[number_of_rating_per_book['Book-Rating'] > 8, 'Book-Title'] # arbitrary threshold decision
books_to_compare = books_to_compare.tolist() # list of the higher rated books than 8 count of ratings
books_to_compare

['1984',
 '1st to die: a novel',
 'a painted house',
 'a time to kill',
 'a wrinkle in time',
 'angels &amp; demons',
 "bridget jones's diary",
 'dreamcatcher',
 "ender's game (ender wiggins saga (paperback))",
 'fahrenheit 451',
 'firestarter',
 'hannibal',
 'harry potter and the chamber of secrets (book 2)',
 'harry potter and the goblet of fire (book 4)',
 'harry potter and the order of the phoenix (book 5)',
 'harry potter and the prisoner of azkaban (book 3)',
 "harry potter and the sorcerer's stone (book 1)",
 "harry potter and the sorcerer's stone (harry potter (paperback))",
 'house of sand and fog',
 'interview with the vampire',
 'it',
 'jurassic park',
 'life of pi',
 'lightning',
 'pet sematary',
 'red dragon',
 'stardust',
 'the bad beginning (a series of unfortunate events, book 1)',
 'the brethren',
 'the client',
 'the da vinci code',
 'the drawing of the three (the dark tower, book 2)',
 'the fellowship of the ring (the lord of the rings, part 1)',
 'the firm',
 'the great gatsby',
 'the gunslinger (the dark tower, book 1)',
 "the hitchhiker's guide to the galaxy",
 'the hobbit : the enchanting prelude to the lord of the rings',
 'the hobbit: or there and back again',
 'the lovely bones: a novel',
 'the pelican brief',
 'the poisonwood bible: a novel',
 'the rainmaker',
 'the return of the king (the lord of the rings, part 3)',
 'the secret life of bees',
 'the silmarillion',
 'the summons',
 'the tale of the body thief (vampire chronicles (paperback))',
 'the talisman',
 'the tommyknockers',
 'the two towers (the lord of the rings, part 2)',
 'the vampire lestat (vampire chronicles, book ii)',
 'the waste lands (the dark tower, book 3)',
 'to kill a mockingbird',
 "tuesdays with morrie: an old man, a young man, and life's greatest lesson",
 'watership down',
 "where the heart is (oprah's book club (paperback))"]

In [81]:
ratings_data_raw = books_of_tolkien_readers[['User-ID', 'Book-Title', 'Book-Rating']][books_of_tolkien_readers['Book-Title'].isin(books_to_compare)] # list of the higher rated books than 8 count of ratings
ratings_data_raw.sort_values(by='Book-Rating', ascending=False)

,User-ID,Book-Title,Book-Rating
205818,142149,the fellowship of the ring (the lord of the ri...,10
127313,88733,"the two towers (the lord of the rings, part 2)",10
153227,102702,harry potter and the sorcerer's stone (harry p...,10
255292,179734,harry potter and the goblet of fire (book 4),10
153172,102702,harry potter and the goblet of fire (book 4),10
...,...,...,...
314612,225379,the lovely bones: a novel,2
163220,110265,the fellowship of the ring (the lord of the ri...,2
18356,11676,pet sematary,2
232243,162738,hannibal,1
17799,11676,the firm,1

In [82]:
# Check the duplicates
ratings_data_raw_with_duplicates = ratings_data_raw.copy()
ratings_data_raw_with_duplicates[ratings_data_raw_with_duplicates.duplicated(subset=['User-ID', 'Book-Title'])].sort_values(by=['User-ID', 'Book-Title'], ascending=False).head(3)

        User-ID             Book-Title  Book-Rating
323975   232131           dreamcatcher            6
323848   232131  bridget jones's diary            6
323961   232131  bridget jones's diary            6

In [83]:
# group by User and Book and compute mean
ratings_data_raw_nodup = ratings_data_raw.groupby(['User-ID', 'Book-Title']).agg('Book-Rating').mean().reset_index()
ratings_data_raw_nodup[ratings_data_raw_nodup.duplicated(subset=['User-ID', 'Book-Title'])] # no duplicates

ratings_data_raw_nodup

      User-ID                                         Book-Title  Book-Rating
0         254                                               1984          9.0
1         254   harry potter and the chamber of secrets (book 2)          9.0
2         254       harry potter and the goblet of fire (book 4)          9.0
3         254  harry potter and the prisoner of azkaban (book 3)          9.0
4         254     harry potter and the sorcerer's stone (book 1)          9.0
...       ...                                                ...          ...
1012   276313                                       the brethren          8.0
1013   276313  the fellowship of the ring (the lord of the ri...          8.0
1014   276313                                        the summons          8.0
1015   278246  the fellowship of the ring (the lord of the ri...          8.0
1016   278550  the fellowship of the ring (the lord of the ri...         10.0

[1017 rows x 3 columns]

In [84]:
# pivot table
dataset_for_corr = ratings_data_raw_nodup.pivot(index='User-ID', columns='Book-Title', values='Book-Rating')
dataset_for_corr

Book-Title,1984,1st to die: a novel,a painted house,a time to kill,a wrinkle in time,angels &amp; demons,bridget jones's diary,dreamcatcher,ender's game (ender wiggins saga (paperback)),fahrenheit 451,...,the tale of the body thief (vampire chronicles (paperback)),the talisman,the tommyknockers,"the two towers (the lord of the rings, part 2)","the vampire lestat (vampire chronicles, book ii)","the waste lands (the dark tower, book 3)",to kill a mockingbird,"tuesdays with morrie: an old man, a young man, and life's greatest lesson",watership down,where the heart is (oprah's book club (paperback))
User-ID,,,,,,,,,,,,,,,,,,,,,
254,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1674,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11676,10.0,9.0,9.0,NaN,9.0,8.0,6.333333,8.666667,9.0,8.0,...,6.0,9.5,7.5,10.0,8.0,NaN,9.0,9.0,5.0,10.0
11944,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN
13191,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
276050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN
276313,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278246,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278550,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
LoR_list = ['the fellowship of the ring (the lord of the rings, part 1)']

result_list = []
worst_list = []

# for each of the trilogy book compute:
for LoR_book in LoR_list:
    
    #Take out the Lord of the Rings selected book from correlation dataframe
    dataset_of_other_books = dataset_for_corr.copy(deep=False) # soft copy (ale při úpravách (například odstranění sloupce) se změny neprojeví v původním datovém rámci)
    dataset_of_other_books.drop([LoR_book], axis=1, inplace=True) # remove the selected book from the correlation dataframe # nezasahuje do jednotlivých hodnot datového rámce, ale pouze manipuluje s jeho strukturou.
      
    # empty lists
    book_titles = []
    correlations = []
    avgrating = []

    # corr computation
    for book_title in list(dataset_of_other_books.columns.values): # pro každou knihu v datasetu hledáme korelaci s vybranou knihou jinou než LoR
        book_titles.append(book_title)
        correlations.append(dataset_for_corr[LoR_book].corr(method='spearman', other=dataset_of_other_books[book_title])) # Pearson correlation - Korelace v tomto případě ukazuje, zda tento konkrétní uživatel hodnotí dvě knihy ve vztahu k průměrnému hodnocení těchto knih podobným způsobem jako ostatní uživatelé
        tab=(ratings_data_raw[ratings_data_raw['Book-Title']==book_title])
        avgrating.append(tab['Book-Rating'].min())
    
    # final dataframe of all correlation of each book   
    corr_fellowship = pd.DataFrame(list(zip(book_titles, correlations, avgrating)), columns=['book','corr','avg_rating'])
    



    # top 10 books with highest corr
    result_list.append(corr_fellowship.sort_values('corr', ascending = False))
        
        #worst 10 books
    worst_list.append(corr_fellowship.sort_values('corr', ascending = False).tail(10))

# result_list[0][result_list[0]['book'] == 'the two towers (the lord of the rings, part 2)']
result_list[0].head(10)

                                                 book      corr  avg_rating
42  the return of the king (the lord of the rings,...  0.804676           5
26                                           stardust  0.760767           5
29                                         the client  0.760377           5
54                                     watership down  0.757189           5
8       ender's game (ender wiggins saga (paperback))  0.753778           8
44                                   the silmarillion  0.733246           5
20                                                 it  0.718049           5
7                                        dreamcatcher  0.706151           3
24                                       pet sematary  0.694564           2
4                                   a wrinkle in time  0.687413           5

In [86]:
ratings_data_raw_nodup[ratings_data_raw_nodup['Book-Title'].isin(['the fellowship of the ring (the lord of the rings, part 1)', 'the return of the king (the lord of the rings, part 3)'])].sort_values(by='User-ID', ascending=False)

# Vybereme pouze řádky, kde je titul jedním z obou knih
filtered_df = ratings_data_raw_nodup[ratings_data_raw_nodup['Book-Title'].isin([
    'the fellowship of the ring (the lord of the rings, part 1)',
    'the return of the king (the lord of the rings, part 3)'
])]

# Skupinujeme podle 'User-ID' a počítáme počet různých titulů hodnocených každým uživatelem
user_counts = filtered_df.groupby('User-ID')['Book-Title'].nunique()
user_indexes = user_counts[user_counts == 2]

ratings_data_raw_nodup[ratings_data_raw_nodup['User-ID'].isin(user_indexes.index)]

      User-ID                                         Book-Title  Book-Rating
10      11676                                               1984         10.0
11      11676                                1st to die: a novel          9.0
12      11676                                    a painted house          9.0
13      11676                                  a wrinkle in time          9.0
14      11676                                angels &amp; demons          8.0
...       ...                                                ...          ...
999    271176                                     watership down          8.0
1007   276050  the fellowship of the ring (the lord of the ri...         10.0
1008   276050  the return of the king (the lord of the rings,...         10.0
1009   276050  the tale of the body thief (vampire chronicles...          5.0
1010   276050     the two towers (the lord of the rings, part 2)         10.0

[562 rows x 3 columns]

In [87]:

# print("Correlation for book:", LoR_list[0])
print("Average rating of LOR:", ratings_data_raw.loc[ratings_data_raw['Book-Title']=='the fellowship of the ring (the lord of the rings, part 1)'].groupby('Book-Title').agg('Book-Rating').mean())

rslt = len(result_list)
rslt

Average rating of LOR: Book-Title
the fellowship of the ring (the lord of the rings, part 1)    8.882927
Name: Book-Rating, dtype: float64

1

In [88]:
# Např. vážený průměr = (průměrné hodnocení × počet hodnocení) / celkový počet hodnocení.

# Např. vybrat pouze knihy, které mají alespoň 5 hodnocení, abyste eliminovali tituly s jedním uživatelem, který dal extrémně vysokou nebo nízkou známku.