In [23]:
# import
import pandas as pd

# 1 - ETL

In [24]:
# ETL process
# A) Check the values of the ratings, books
# B) Remove NaN values of the ratings, books
# C) Merge datasets of the ratings, books
# D) Remove duplicate rows
# E) Convert data types
# F) Save the cleaned data

In [25]:
# load ratings
ratings = pd.read_csv('Original_Ratings.csv', encoding='CP1251', sep=',', low_memory=False)

## Ratings

### Check the values

In [26]:
# A) Check the values of the ratings
ratings.head()
ratings.info()
ratings['Book-Rating'].unique()

# ratings['ISBN'].unique()

# It is used in the ISBN-10 system because the last position requires a digit that satisfies the checksum algorithm (modulo 11)
# ratings['User-ID'].unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   User-ID      1149780 non-null  int64
 1   ISBN         1149780 non-null  object
 2   Book-Rating  1149780 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB

array([ 0,  5,  3,  6,  8,  7, 10,  9,  4,  1,  2], dtype=int64)

In [27]:
# Zero means interaktion with the book but no rating, so we will remove these rows:

ratings = ratings[ratings['Book-Rating']!=0] # remove 0
ratings.sort_values(by='Book-Rating', ascending=True)

# ratings

        User-ID        ISBN  Book-Rating
42908     11224  0380710811            1
103545    23872  0843938331            1
791727   191154  0140272917            1
576669   138763  3442437407            1
576671   138763  3462033360            1
...         ...         ...          ...
860589   208141  0916856003           10
860588   208141  0898799996           10
860587   208141  0898799430           10
860635   208141  1888608269           10
547247   131346  3150085780           10

[433671 rows x 3 columns]

In [28]:
# Check the 0 values of the ratings

ratings_zero_inkl = ratings.copy()
ratings = ratings[ratings['Book-Rating']!=0] # remove 0
ratings.sort_values(by='Book-Rating', ascending=True)

ratio = round(len(ratings)/len(ratings_zero_inkl),2) * 100

In [29]:
ratings.info() # raw dataset without 0 (Ratings)

# B) Remove NaN values of the ratings
# checked, pass no NaN values

<class 'pandas.core.frame.DataFrame'>
Index: 433671 entries, 1 to 1149779
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   User-ID      433671 non-null  int64
 1   ISBN         433671 non-null  object
 2   Book-Rating  433671 non-null  int64
dtypes: int64(2), object(1)
memory usage: 13.2+ MB

## Books

In [30]:
# load books
books_raw = pd.read_csv('Original_Books.csv',  encoding='CP1251', sep=',') #on_bad_lines='skip' - nechceme přijít o data
# DtypeWarning: Columns (3) have mixed types.

# A) Check the values of the ratings
books_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271358 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB

C:\Users\Stepankovi\AppData\Local\Temp\ipykernel_13692\3207294697.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books_raw = pd.read_csv('Original_Books.csv',  encoding='CP1251', sep=',') #on_bad_lines='skip' - nechceme přijít o data

In [31]:
# unnecessary saving of the three rows
books_raw

# Year-Of-Publication mixed types
books_raw['Year-Of-Publication'].unique()

# Filter the rows with the values 'DK Publishing Inc', 'Gallimard'
books_raw[books_raw['Year-Of-Publication'].isin(['DK Publishing Inc', 'Gallimard'])]

# books['Book-Author'] = books.loc[books['Year-Of-Publication'].isin(['DK Publishing Inc', 'Gallimard']), 'Year-Of-Publication']

# Save the indexes
indexes = list(books_raw[books_raw['Year-Of-Publication'].isin(['DK Publishing Inc', 'Gallimard'])].index)
indexes

[209538, 220731, 221678]

In [32]:
# filter condition
filter_condition = books_raw['Year-Of-Publication'].isin(['DK Publishing Inc', 'Gallimard'])

# Následně můžete pracovat s touto filtrovací proměnnou
books_raw.loc[filter_condition, 'Image-URL-L'] = books_raw.loc[filter_condition, 'Image-URL-M']
books_raw.loc[filter_condition, 'Image-URL-M'] = books_raw.loc[filter_condition, 'Image-URL-S']
books_raw.loc[filter_condition, 'Image-URL-S'] = books_raw.loc[filter_condition, 'Publisher']
books_raw.loc[filter_condition, 'Publisher'] = books_raw.loc[filter_condition, 'Year-Of-Publication']
books_raw.loc[filter_condition, 'Year-Of-Publication'] = books_raw.loc[filter_condition, 'Book-Author']
books_raw.loc[filter_condition, 'Book-Author'] = books_raw.loc[filter_condition, 'Book-Author']

books_raw.loc[[209538, 220731, 221678]]

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
209538,078946697X,"DK Readers: Creating the X-Men, How It All Beg...",2000,2000,DK Publishing Inc,http://images.amazon.com/images/P/078946697X.0...,http://images.amazon.com/images/P/078946697X.0...,http://images.amazon.com/images/P/078946697X.0...
220731,2070426769,"Peuple du ciel, suivi de 'Les Bergers\"";Jean-M...",2003,2003,Gallimard,http://images.amazon.com/images/P/2070426769.0...,http://images.amazon.com/images/P/2070426769.0...,http://images.amazon.com/images/P/2070426769.0...
221678,0789466953,"DK Readers: Creating the X-Men, How Comic Book...",2000,2000,DK Publishing Inc,http://images.amazon.com/images/P/0789466953.0...,http://images.amazon.com/images/P/0789466953.0...,http://images.amazon.com/images/P/0789466953.0...

In [33]:
# 'Book-Title' and 'Book-Author' are in the same column - > split

# one more copy for the cycle
books = books_raw.copy()

for index in indexes:

    books_for_cycle = books_raw.copy()
   
    if 'Jean-Marie Gustave' in books_for_cycle.loc[index, 'Book-Title']:
        autor = 'Jean-Marie Gustave Le Clézio'  # J. M. G. Le Clézio
        new_title = books_for_cycle.loc[index, 'Book-Title'].split(';')[0].strip(r'\'"\\').replace("\\", "").replace("'", "").replace('"', "")
          
        # label indexing
        books.loc[index, 'Book-Title'] = new_title
        books.loc[index, 'Book-Author'] = autor
        
    else:
        new_title = books_for_cycle.loc[index, 'Book-Title'].split(';')[0].replace('\\', '').replace('"', '').replace("'", '')
        autor = books_for_cycle.loc[index, 'Book-Title'].split(';')[-1].replace('"', '').strip()
                
        # label indexing
        books.loc[index, 'Book-Title'] = new_title
        books.loc[index, 'Book-Author'] = autor


# check the changes
indexes
books.loc[[209538, 220731, 221678]]

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
209538,078946697X,"DK Readers: Creating the X-Men, How It All Beg...",Michael Teitelbaum,2000,DK Publishing Inc,http://images.amazon.com/images/P/078946697X.0...,http://images.amazon.com/images/P/078946697X.0...,http://images.amazon.com/images/P/078946697X.0...
220731,2070426769,"Peuple du ciel, suivi de Les Bergers",Jean-Marie Gustave Le Clézio,2003,Gallimard,http://images.amazon.com/images/P/2070426769.0...,http://images.amazon.com/images/P/2070426769.0...,http://images.amazon.com/images/P/2070426769.0...
221678,0789466953,"DK Readers: Creating the X-Men, How Comic Book...",James Buckley,2000,DK Publishing Inc,http://images.amazon.com/images/P/0789466953.0...,http://images.amazon.com/images/P/0789466953.0...,http://images.amazon.com/images/P/0789466953.0...

In [34]:
# Checke the values again
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271358 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271360 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB

### Remove NaN

In [35]:
# B) Remove NaN values of the ratings or find the missing value, we won't use info from Publiher column
# Check the missing values in Book-Author, Publisher columns

missing_publishers = books.loc[books['Publisher'].isnull()]
missing_publishers # only two rows

missing_publishers = books.loc[books['Book-Author'].isnull()]
missing_publishers # only two rows also in the Book-Author column

# set the missing values to 'Unknown'
books.loc[books['Book-Author'].isnull(), 'Book-Author'] = 'Unknown'
books.loc[books['Publisher'].isnull(), 'Publisher'] = 'Unknown'

# Check the missing values in Book-Author, Publisher columns
books.loc[books['Book-Author'] == 'Unknown'] # remove the rows 'Unknown' from the dataset, we will filter 'Book-Author' in the dropdown
books.loc[books['Publisher'] == 'Unknown'] # let in the dataset, we won't use them

# indexes to drop
indexes_to_drop = books[books['Book-Author'] == 'Unknown'].index

# drop rows
books = books.drop(indexes_to_drop)

# datasets ready to merge
print(books.info(), ratings.info())

<class 'pandas.core.frame.DataFrame'>
Index: 271319 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271319 non-null  object
 1   Book-Title           271319 non-null  object
 2   Book-Author          271319 non-null  object
 3   Year-Of-Publication  271319 non-null  object
 4   Publisher            271319 non-null  object
 5   Image-URL-S          271319 non-null  object
 6   Image-URL-M          271319 non-null  object
 7   Image-URL-L          271319 non-null  object
dtypes: object(8)
memory usage: 18.6+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 433671 entries, 1 to 1149779
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   User-ID      433671 non-null  int64
 1   ISBN         433671 non-null  object
 2   Book-Rating  433671 non-null  int64
dtypes: int64(2), object(1)
memory usage: 13.2+ MB
None None

### Merge

In [36]:
# C) Merge datasets of the ratings, books

# print(Fore.BLUE + Back.GREEN + f'IMPROVE 2) acquisition of the ratings from users' + Fore.RESET)
# users_ratigs = pd.merge(ratings, books, on=['User-ID'])

dataset = pd.merge(ratings, books, on=['ISBN'])

### Duplicates

In [37]:
# D) Remove duplicate rows
dataset.duplicated().sum()

0

### Data types

In [38]:
# E) Convert data types

column_types = {
    'User-ID': 'int64',
    'ISBN': 'string',
    'Book-Rating': 'int64',
    'Book-Title': 'string',
    'Book-Author': 'string',
    'Year-Of-Publication': 'int64',  # nebo 'string', pokud jsou hodnoty smíšené
    'Publisher': 'string',
    'Image-URL-S': 'string',
    'Image-URL-M': 'string',
    'Image-URL-L': 'string'
}

# Data types conversion
for column, dtype in column_types.items():
    dataset[column] = dataset[column].astype(dtype)

In [39]:
# lower case
columns_to_skip = ['Image-URL-S', 'Image-URL-M', 'Image-URL-L']

chosen_lower_columns = dataset[[col for col in dataset.columns if col not in columns_to_skip]]

chosen_lower_columns = chosen_lower_columns.apply(lambda col: col.str.lower() if col.dtype == 'string' else col)

dataset.update(chosen_lower_columns)

In [40]:
dataset.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276726,0155061224,5,rites of passage,judith rae,2001,heinle,http://images.amazon.com/images/P/0155061224.0...,http://images.amazon.com/images/P/0155061224.0...,http://images.amazon.com/images/P/0155061224.0...
1,276729,052165615x,3,help!: level 1,philip prowse,1999,cambridge university press,http://images.amazon.com/images/P/052165615X.0...,http://images.amazon.com/images/P/052165615X.0...,http://images.amazon.com/images/P/052165615X.0...
2,276729,0521795028,6,the amsterdam connection : level 4 (cambridge ...,sue leather,2001,cambridge university press,http://images.amazon.com/images/P/0521795028.0...,http://images.amazon.com/images/P/0521795028.0...,http://images.amazon.com/images/P/0521795028.0...
3,276744,038550120x,7,a painted house,john grisham,2001,doubleday,http://images.amazon.com/images/P/038550120X.0...,http://images.amazon.com/images/P/038550120X.0...,http://images.amazon.com/images/P/038550120X.0...
4,276747,0060517794,9,little altars everywhere,rebecca wells,2003,harpertorch,http://images.amazon.com/images/P/0060517794.0...,http://images.amazon.com/images/P/0060517794.0...,http://images.amazon.com/images/P/0060517794.0...

### Save the cleansed and merged data

In [41]:
# F) Save the cleaned data

dataset.to_csv('Cleaned_Book_ETL.csv', index=False)